.input-field{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(150, 147, 147);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(243, 241, 241);
}

.input-submit{
    background: rgb(10, 176, 237);
    background: linear-gradient(90deg, rgb(57, 146, 205) 19%, rgb(4, 93, 131) 95%);
    color: white;
}

.input-submit:hover{
    background: rgb(19, 49, 59);
    background: linear-gradient(90deg, rgb(42, 110, 152) 19%, rgb(2, 67, 95) 95%);
}



