.contact-bg{
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center center;
    height: 50vh;
    background-attachment: fixed;
   /* filter:brightness(80%) contrast(120%); */
   text-shadow : 3px 3px 3px #000000;
    

}


@media screen and (max-width:767px) {
    
.contact-bg{
    background-attachment: unset;
}

}