.cart-items{
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
margin: 2% 20%;
border: 2px solid black;
display: grid;
grid-template-columns: repeat(1 1fr);
gap: 25px;
}

@media screen and (max-width:767px) {

    .cart-items{
        margin: 2% 2%;
        
    }
    
}