.header-bg{
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center center;
    height: auto;
    background-attachment: fixed;
}

.shop-btn:hover{

    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

@media screen and (max-width:767px) {
    .header-bg{
        background-attachment: unset;
    }
}